*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
.main{
  height: 100%;
  width: 100%;
  background-color: #9c9292;
  
} */
.main{
  height: 100%;
  width: 100%;
  background-color: aqua;
}
#left{
 
  background-color: red;
}
#right{
  background-color: blue;
}


